:root {
  font-family: "Oxygen", sans-serif;
  --primary-color: #0ea5e9;
  --bg-color: #f1f5f9;
}

html img {
  height: 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--bg-color);
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
}

.header {
  height: 20vh;
  grid-column: 2 / -1;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 2fr;
  box-shadow: 1px 5px #cbd5e1;
}

.top-header,
.bottom-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search-bar {
  padding: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

input {
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
  flex: 1;
  height: 1rem;
  padding: 0.5rem;
}

input:focus {
  outline: #94a3b8;
}

.main-profile {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-profile p {
  font-weight: bold;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 8fr;
  justify-content: left;
  align-items: center;
  padding: 0 2rem;
}

.welcome-pic img {
  height: 3.5rem;
}

.welcome-text {
  line-height: 5px;
}

.welcome-text :first-child {
  font-size: 0.75rem;
}

.welcome-text :first-child,
:last-child {
  font-weight: bolder;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: 1.75rem;
}

.sidebar {
  grid-row: 1 / -1;
  background-color: var(--primary-color);
  color: white;
  font-weight: bolder;
  display: grid;
  grid-template-rows: 1fr 6fr;
  font-size: 1rem;
}

.logo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin: 15px 0 0 15px;
}

.logo img {
  height: 3.5rem;
}

.nav-icons {
  height: 1.5rem;
}

.nav-item {
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  max-height: 4rem;
  padding: 0 0 0 2rem;
}

.main-content {
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 0.75rem;
}

.project-container {
  grid-area: 1 / 1 / -1 / 2;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
